<%- include ('../partials/header.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">About Artist</p>
      <div class="list-group">
        <li class="list-group-item active"><%=art.aboutArtist%></li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%=art.image%>" />
        <div class="caption-full">
          <h4><a><%= art.name %></a></h4>
          <p><%=art.description%></p>
          <p>
            <em>Submitted By <%= art.author.username %></em>
          </p>
          <% if(currentUser && art.author.id.equals(currentUser._id)){ %>
          <a class="btn btn-warning" href="/arts/<%=art._id%>/edit">Edit</a>
          <form
            class="delete-form"
            action="/arts/<%=art._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
          <%}%>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="/arts/<%=art._id%>/comments/new"
            >Add a new comment</a
          >
        </div>
        <hr />
        <% art.comments.forEach(function(comment){ %>
        <div class="row">
          <div class="col-md-12">
            <strong><%= comment.author.username %></strong>
            <span class="pull-right">10 days ago</span>
            <p><%= comment.text %></p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <a
              class="btn btn-xs btn-warning"
              href="/arts/<%=art._id%>/comments/<%=comment._id%>/edit"
              >Edit</a
            >
            <form
              class="delete-form"
              action="/arts/<%=art._id%>/comments/<%=comment._id%>?_method=DELETE"
              method="POST"
            >
              <input
                type="submit"
                class="btn btn-xs btn-danger"
                value="Delete"
              />
            </form>
            <%}%>
          </div>
        </div>

        <%})%>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script type="text/javascript" src="/stylesheet/index.js"></script>
<%- include('../partials/footer.ejs') %>
